[git]
    autoAdd = true
    autoCommit = true
    autoPush = true

[data]
    email = "161859772+griimbot@users.noreply.github.com"
    name = "griimbot"
    compdir = "~/.local/share/bash-completion/completions"

[edit]
    command = "nvim"

pager = "less"
