[data]
    email = {{ promptString "email" | quote }}
    name = {{ promptString "name" | quote }}
    compdir = "~/.local/share/bash-completion/completions"
    opencodePassword = {{ promptString "opencode password" | quote }}

[edit]
    command = "nvim"

pager = "less"
