[git]
    autoAdd = true
    autoCommit = true
    autoPush = true
    commitMessageTemplate = '{{ if eq (index .chezmoi.args 0) "add" }}feat{{ else if eq (index .chezmoi.args 0) "apply" }}chore{{ else }}chore{{ end }}: {{ .chezmoi.args | join " " }}'

[data]
    email = {{ promptString "email" | quote }}
    name = {{ promptString "name" | quote }}
    compdir = "~/.local/share/bash-completion/completions"
    opencodePassword = {{ promptString "opencode password" | quote }}

[edit]
    command = "nvim"

pager = "less"
